/* Global Styles */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

img {
    width: 100%;
    height: auto;
}

/* Desktop First Styling Approach */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-image: url("../img/grey_wash_wall.png");
    padding: 0 2rem;
}

.brand {
    margin: 0;
    font-weight: 300;
}

header a {
    color: #AAA;
    text-decoration: none;
}

/* hide on desktop sohw on mobile */
.mobile-menu {
    display: none;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.menu li {
    min-width: 5rem;
}

.menu li a {
    display: block;
    padding: 1rem;
}

.menu li a:hover {
    color: #eee;
    background-color: rgba(0,0,0,0.2);
}

.container {
    display: flex;
    padding: 2rem;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.thumb {
    flex: 0 0 23%;
    margin: 0.8rem auto;
}

/* media queries */

/* tablet size clssic ipad range */
/* @media screen and (min-width: 768px) and (max-width: 1024px){
    body {
        background-color: chartreuse;
    }
} */

/* tablet size clssic ipad max */
@media screen and (max-width: 1024px){
    body {
        background-color: chartreuse;
    }

    .thumb {
        flex: 0 0 45%;
    }
}

/* mobile = 768px */
@media screen and (max-width: 768px) {
    body {
        background-color: blueviolet;
    }

    .mobile-menu {
        display: block;
        color: #AAA;
        font-size: 2rem;
        position: absolute;
        top: 0.5rem;
        right: 1rem;
    }

    header {
        display: block;
        justify-content: center;
        align-items: stretch;
        text-align: center;
        padding: 0;
    }

    .menu {
        flex-direction: column;
    }

    .menu li {
        border-bottom: 1px solid rgba(255,255,255,0.4)
    }

    .container {
        flex-direction: column;
    }

    /* typical override for flexbox on mobile */
    .thumb {
        flex: 0 0 100%;
        margin: 1rem auto;
    }

    .menu {
        display: none;;
    }
}

